  
nav {
    background-color: #ebd1fe;
}

a {
    text-decoration: none;
    color: white
}
 a:hover {
    text-decoration: underline;
    color: white
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 25px;
}