  
nav {
    background-color: #f5def8;

}

a {
    text-decoration: none;
    color: white
}
 a:hover {
    text-decoration: underline;
    color: white
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 25px;
}

.logo2 {
   
   height: 100px;
    width: auto;
   padding: 0 0 0 150px ;
}

