  
nav {
    background-color: #e4c4e8;

}

a {
    text-decoration: none;
    color: white
}
 a:hover {
    text-decoration: underline;
    color: white
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 25px;
}

.logo2 {
   
   height: 80px;
    width: auto;
   padding: 0 0 0 150px ;
}

